@font-face{font-family:bebasneuereg;src:url(fonts/BebasNeue_Regular.otf)}
@font-face{font-family:ralewayreg;src:url(fonts/Raleway-Regular.ttf)}
@font-face{font-family:msquare;src:url(fonts/MicroSquare_Regular.ttf)}
@font-face{font-family:roblight;src:url(fonts/Roboto-Light.ttf)}
html,body{margin:0;padding:0;}
table tbody tr td{font-family:ralewayreg}
hr{width:100%}
ul li{font-family:Arial, Helvetica, sans-serif}
#wrapper{width:90%;margin:0 auto;min-height:100%;height:auto!important;height:100%}*{transition:height .5s,background-color .5s,color .5s,flex .2s}
hgroup h1{color:#000;padding:0 0 0 0;text-align:center;font:2em bebasneuereg}
nav{width:100%;margin:0 0 20px}
nav ul{margin:0;padding:0;display:flex}
nav ul a{text-decoration:none;flex:1;display:inline-block;border-right:2px solid black}
nav ul a li{list-style-type:none;font:1em bebasneuereg;background:#FFAA00;box-shadow:2px 2px 3px #834008;line-height:50px;color:#000;text-align:center;width:100%}
nav ul a li#first{border-bottom-left-radius:15px;border-top-left-radius:15px}
nav ul a li#last{border-bottom-right-radius:15px;border-top-right-radius:15px}
nav ul a:last-child{border-right:0}
nav ul a li:hover{background-color:#f05826;color:white}
nav ul a:hover{flex:1.3}
section{background:#D4BA6A;flex:3.5}
hgroup h2{color:#000;padding:10px 0 0 5px;text-align:center;font:2em bebasneuereg}
section article{background:#D4BA6A;width:80%;margin:0 auto}
article p{padding:5px 5px 15px 10px;font:1em ralewayreg}
aside{background:#2F044B;flex:1.1}
hgroup h3{color:#fff;padding:10px 0 0 10px;text-align:center;font:2em bebasneuereg}
aside article{width:90%;color:#FFF;margin:0 auto}
div.divflex{display:flex}
div.divflex section,div.divflex aside{box-shadow:2px 2px 3px #336680}
footer{background-color:#808080}#footpush{height:3em}
footer{position;left:0px;bottom:0px;height:25px;width:100%;background:#9900FA;}
@media only screen and (max-width:1920px) and (min-width:700px){div.divflex{display:flex;flex-direction:column}
section article,aside article{margin:0 auto;width:90%}
nav{width:100%;margin:0 0 20px}
nav ul a li{line-height:35px;margin:3px 0;font-size:1em}
body{background:url("images/header-bg.png") no-repeat fixed top;height:100%}
}
@media only screen and (max-width:700px){#wrapper{width:95%}
div.divflex{display:flex;flex-direction:column}
nav ul{flex-direction:column;width:90%;margin:0 auto}
nav ul a{border:0}
nav ul a li{line-height:35px;margin:3px 0;font-size:1.3em;border-radius:15px;text-align:left;}
nav{width:100%;margin:0 0 20px}
section article,aside article{margin:0 auto;width:92%}
body{background-repeat:no-repeat;background-image:url('images/header-bg-small.png');}
}
.newspaper{-webkit-column-count:2;-moz-column-count:2;column-count:2;}
h4{color:#000;text-align:center;font:1em ralewayreg;}#wrapper header .newspaper h4{font-weight:bold;}
.top{position:fixed;bottom:20px;right:10px;z-index:9999999}
.top-a{font-size:0.5em;z-index:9999999;opacity:0.2;position:fixed;bottom:0;}
.top a{font-size:1em;background-color:#F200FA;color:#FFF;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;transition:all .3s ease;padding:10px 10px 10px;text-decoration:none}
.top a:hover{background-color:#DDF272;text-decoration:none}